/* add home page styles here */
.main-section {
    text-align: center;
}
h1 {
    font-size: 75px;
    border: solid black 1px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background: rgb(179, 5, 5);
    color: white; 
    text-shadow: 5px 5px 5px rgb(66, 24, 24);
}

ul, li {
    font-size: 30px;
    margin-left: 2rem;
}

#big-rules {
    font-size: 55px;
    color: rgb(179, 5, 5);
    text-shadow: 5px 5px 5px darkgray;
   
}  

.centered {
    width: 400px;
    margin-right: auto;
    margin-left: auto;

}

img { 
    width: 200px;
    margin:50px ;
    display: inline-flex;
    justify-content: space-between;
}

input[type=radio] {
    display: none;
}

input[type=radio]:checked + img {
    border: rgb(97, 21, 44) 2px solid;
    padding: 35px;
    border-radius: 50px; 
    box-shadow: 5px 5px 5px darkgray;
}

input[type=radio]:not(:checked) + img:hover {
    opacity: 50%;
    cursor: pointer;
}

#play {
    margin: 15px;
    font-size: 3rem;
    border-radius: 15px;
    color: white;
    background:rgb(179, 5, 5);
    box-shadow: 5px 5px 5px darkgray;

}

.score {
    font-size:30px;
    
}