/* add home page styles here */

h1 {
    font-size: 75px;
    border: solid black 1px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

li {
    font-size: 20px;
}

#big-rules {
    font-size: 25px;
}

.centered {
    width: 400px;
    margin-right: auto;
    margin-left: auto;

}

img { 
    width: 200px;
    margin:50px ;
    display: inline-flex;
    justify-content: space-between;
}

input[type=radio] {
    display: none;
}

input[type=radio]:checked + img {
    border: red 2px solid;
    border-radius: 15px; 
}

input[type=radio]:not(:checked) + img:hover {
    opacity: 50%;
    cursor: pointer;
}